<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.5"?>
<plugin>

     <extension
         point="org.eclipse.ui.views">
      <category
            name="Prolog"
            id="com.amzi.prolog.ui.views">
      </category>
      <view
            name="Debug Listener"
            icon="icons/question_dash_box.gif"
            category="com.amzi.prolog.ui.views"
            class="com.amzi.prolog.debug.ui.DebugListenerView"
            id="com.amzi.prolog.debug.ui.DebugListenerView">
      </view>
   </extension>
   <extension
         id="prologLineBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="com.amzi.prolog.debug.sourceName">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            markerType="com.amzi.prolog.debug.prologLineBreakpointMarker"
            class="com.amzi.prolog.debug.core.model.PrologLineBreakpoint"
            id="prologLineBreakpoint">
      </breakpoint>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="com.amzi.prolog.debug.ui.callIP">
      </type>
      <type
            name="com.amzi.prolog.debug.ui.failIP">
      </type>
      <type
            name="com.amzi.prolog.debug.ui.redoIP">
      </type>
      <type
            name="com.amzi.prolog.debug.ui.exitIP">
      </type>
      <type
            name="com.amzi.prolog.debug.ui.infoIP">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            colorPreferenceValue="0,232,0"
            annotationType="com.amzi.prolog.debug.ui.callIP"
            verticalRulerPreferenceValue="true"
            includeOnPreferencePage="false"
            colorPreferenceKey="call.highlight.color"
            highlightPreferenceKey="call.highlight.background"
            overviewRulerPreferenceValue="false"
            highlightPreferenceValue="true"
            presentationLayer="6"
            icon="icons/call.gif"
            textPreferenceValue="false"
            label="Call"
            textPreferenceKey="call.highlight.text"
            verticalRulerPreferenceKey="call.highlight.rulers.vertical"
            overviewRulerPreferenceKey="call.highlight.rulers.overview">
      </specification>
      <specification
            colorPreferenceValue="255,0,0"
            annotationType="com.amzi.prolog.debug.ui.failIP"
            verticalRulerPreferenceValue="true"
            includeOnPreferencePage="false"
            colorPreferenceKey="fail.highlight.color"
            highlightPreferenceKey="fail.highlight.background"
            overviewRulerPreferenceValue="false"
            highlightPreferenceValue="true"
            presentationLayer="6"
            icon="icons/fail.gif"
            textPreferenceValue="false"
            label="Fail"
            textPreferenceKey="fail.highlight.text"
            verticalRulerPreferenceKey="fail.highlight.rulers.vertical"
            overviewRulerPreferenceKey="fail.highlight.rulers.overview">
      </specification>
      <specification
            colorPreferenceValue="232,232,0"
            annotationType="com.amzi.prolog.debug.ui.redoIP"
            verticalRulerPreferenceValue="true"
            includeOnPreferencePage="false"
            colorPreferenceKey="redo.highlight.color"
            highlightPreferenceKey="redo.highlight.background"
            overviewRulerPreferenceValue="false"
            highlightPreferenceValue="true"
            presentationLayer="6"
            icon="icons/redo.gif"
            textPreferenceValue="false"
            label="Redo"
            textPreferenceKey="redo.highlight.text"
            verticalRulerPreferenceKey="redo.highlight.rulers.vertical"
            overviewRulerPreferenceKey="redo.highlight.rulers.overview">
      </specification>
      <specification
            colorPreferenceValue="192,192,192"
            annotationType="com.amzi.prolog.debug.ui.exitIP"
            verticalRulerPreferenceValue="true"
            includeOnPreferencePage="false"
            colorPreferenceKey="exit.highlight.color"
            highlightPreferenceKey="exit.highlight.background"
            overviewRulerPreferenceValue="false"
            highlightPreferenceValue="true"
            presentationLayer="6"
            icon="icons/exit.gif"
            textPreferenceValue="false"
            label="Exit"
            textPreferenceKey="exit.highlight.text"
            verticalRulerPreferenceKey="exit.highlight.rulers.vertical"
            overviewRulerPreferenceKey="exit.highlight.rulers.overview">
      </specification>
      <specification
            colorPreferenceValue="0,192,192"
            annotationType="com.amzi.prolog.debug.ui.IP"
            verticalRulerPreferenceValue="true"
            includeOnPreferencePage="false"
            colorPreferenceKey="info.highlight.color"
            highlightPreferenceKey="info.highlight.background"
            overviewRulerPreferenceValue="false"
            highlightPreferenceValue="true"
            presentationLayer="6"
            icon="icons/info.gif"
            textPreferenceValue="false"
            label="Info"
            textPreferenceKey="info.highlight.text"
            verticalRulerPreferenceKey="info.highlight.rulers.vertical"
            overviewRulerPreferenceKey="info.highlight.rulers.overview">
      </specification>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="com.amzi.prolog.debug.ui.PrologDebugModelPresentation"
            id="com.amzi.prolog.debug">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="org.eclipse.debug.ui.DebugView"
            id="com.amzi.prolog.debugview.toolbar">
         <action
               state="false"
               style="toggle"
               id="com.amzi.prolog.debugview.stepSlowly"
               toolbarPath="emptyStepGroup"
               class="com.amzi.prolog.debug.ui.actions.StepSlowlyActionDelegate"
               disabledIcon="icons/stepinto_slow_dim.gif"
               icon="icons/stepinto_slow.gif"
               helpContextId="com.amzi.prolog.debug.debug_listener"
               label="Auto Step"
               tooltip="Have the debugger automatically step through the code">
         </action>
         <action
               state="true"
               style="toggle"
               id="com.amzi.prolog.debugview.leashInfo"
               toolbarPath="prologLeashing"
               class="com.amzi.prolog.debug.ui.actions.LeashActionDelegate"
               icon="icons/info.gif"
               helpContextId="com.amzi.prolog.debug.leash_action"
               label="Display Clause Heads"
               tooltip="If not set, debugger skips clause heads">
         </action>
         <action
               state="true"
               style="toggle"
               id="com.amzi.prolog.debugview.leashExit"
               toolbarPath="prologLeashing"
               class="com.amzi.prolog.debug.ui.actions.LeashActionDelegate"
               icon="icons/exit.gif"
               helpContextId="com.amzi.prolog.debug.leash_action"
               label="Display Exit Ports"
               tooltip="If not set, debugger skips Exit Ports">
         </action>
         <action
               state="true"
               style="toggle"
               id="com.amzi.prolog.debugview.leashFail"
               toolbarPath="prologLeashing"
               class="com.amzi.prolog.debug.ui.actions.LeashActionDelegate"
               icon="icons/fail.gif"
               helpContextId="com.amzi.prolog.debug.leash_action"
               label="Display Fail Ports"
               tooltip="If not set, debugger skips Fail Ports">
         </action>
         <action
               state="true"
               style="toggle"
               id="com.amzi.prolog.debugview.leashRedo"
               toolbarPath="prologLeashing"
               class="com.amzi.prolog.debug.ui.actions.LeashActionDelegate"
               icon="icons/redo.gif"
               helpContextId="com.amzi.prolog.debug.leash_action"
               label="Display Redo Ports"
               tooltip="If not set, debugger skips Redo Ports">
         </action>
         <action
               state="true"
               style="toggle"
               id="com.amzi.prolog.debugview.leashCall"
               toolbarPath="prologLeashing"
               class="com.amzi.prolog.debug.ui.actions.LeashActionDelegate"
               icon="icons/call.gif"
               helpContextId="com.amzi.prolog.debug.leash_action"
               label="Display Call Ports"
               tooltip="If not set, debugger skips Call Ports">
         </action>
         <action
               label="Open Listener"
               icon="icons/question_dash.gif"
               helpContextId="com.amzi.prolog.debug.debug_listener"
               tooltip="Opens up the current listener for user queries"
               class="com.amzi.prolog.debug.ui.actions.ListenAgainActionDelegate"
               toolbarPath="prologCommands"
               disabledIcon="icons/question_dash_dim.gif"
               id="com.amzi.prolog.debugview.openListener">
         </action>
         <menu
               label="DCG Variable Display"
               path="additions"
               id="com.amzi.prolog.debugview.dcgVariablesMenu">
            <separator
                  name="prologDCGGroup">
            </separator>
         </menu>
         <action
               label="None"
               style="radio"
               tooltip="Do not display difference list variables"
               state="false"
               class="com.amzi.prolog.debug.ui.actions.DCGVariablesActionDelegate"
               menubarPath="com.amzi.prolog.debugview.dcgVariablesMenu/prologDCGGroup"
               id="com.amzi.prolog.debugview.noneDCG">
         </action>
         <action
               label="First and Last"
               style="radio"
               tooltip="Display first and last difference list variables"
               state="true"
               class="com.amzi.prolog.debug.ui.actions.DCGVariablesActionDelegate"
               menubarPath="com.amzi.prolog.debugview.dcgVariablesMenu/prologDCGGroup"
               id="com.amzi.prolog.debugview.firstLastDCG">
         </action>
         <action
               label="All"
               style="radio"
               tooltip="Display all difference variables"
               state="false"
               class="com.amzi.prolog.debug.ui.actions.DCGVariablesActionDelegate"
               menubarPath="com.amzi.prolog.debugview.dcgVariablesMenu/prologDCGGroup"
               id="com.amzi.prolog.debugview.allDCG">
         </action>
         <menu
               label="Cut Display"
               path="additions"
               id="com.amzi.prolog.debugview.cutDisplayMenu">
            <separator
                  name="prologCutGroup">
            </separator>
         </menu>
         <action
               label="Hide Cut Stack Frames"
               style="radio"
               tooltip="Does not display cut stack frames; variables can be confusing"
               state="false"
               class="com.amzi.prolog.debug.ui.actions.CutDisplayActionDelegate"
               menubarPath="com.amzi.prolog.debugview.cutDisplayMenu/prologCutGroup"
               id="com.amzi.prolog.debugview.omitCutDetails">
         </action>
         <action
               label="Show Cut Stack Frames"
               style="radio"
               tooltip="Displays cut stack frames; may use up control stack"
               state="true"
               class="com.amzi.prolog.debug.ui.actions.CutDisplayActionDelegate"
               menubarPath="com.amzi.prolog.debugview.cutDisplayMenu/prologCutGroup"
               id="com.amzi.prolog.debugview.showCutDetails">
         </action>
         <menu
               label="Auto Step Speed"
               path="additions"
               id="com.amzi.prolog.debugview.stepSpeedMenu">
            <separator
                  name="prologSpeedGroup">
            </separator>
         </menu>
         <action
               label="Very Slow"
               style="radio"
               state="false"
               class="com.amzi.prolog.debug.ui.actions.StepSpeedActionDelegate"
               menubarPath="com.amzi.prolog.debugview.stepSpeedMenu/prologSpeedGroup"
               id="com.amzi.prolog.debugview.verySlowStep">
         </action>
         <action
               label="Slow"
               style="radio"
               state="false"
               class="com.amzi.prolog.debug.ui.actions.StepSpeedActionDelegate"
               menubarPath="com.amzi.prolog.debugview.stepSpeedMenu/prologSpeedGroup"
               id="com.amzi.prolog.debugview.slowStep">
         </action>
         <action
               label="Medium"
               style="radio"
               state="true"
               class="com.amzi.prolog.debug.ui.actions.StepSpeedActionDelegate"
               menubarPath="com.amzi.prolog.debugview.stepSpeedMenu/prologSpeedGroup"
               id="com.amzi.prolog.debugview.mediumStep">
         </action>
         <action
               label="Fast"
               style="radio"
               state="false"
               class="com.amzi.prolog.debug.ui.actions.StepSpeedActionDelegate"
               menubarPath="com.amzi.prolog.debugview.stepSpeedMenu/prologSpeedGroup"
               id="com.amzi.prolog.debugview.fastStep">
         </action>
         <action
               label="Very Fast"
               style="radio"
               state="false"
               class="com.amzi.prolog.debug.ui.actions.StepSpeedActionDelegate"
               menubarPath="com.amzi.prolog.debugview.stepSpeedMenu/prologSpeedGroup"
               id="com.amzi.prolog.debugview.veryFastStep">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               relative="org.eclipse.ui.console.ConsoleView"
               visible="true"
               relationship="stack"
               closeable="false"
               id="com.amzi.prolog.debug.ui.DebugListenerView">
         </view>
         <view
               relative="org.eclipse.ui.console.ConsoleView"
               visible="false"
               relationship="stack"
               closeable="false"
               id="com.amzi.prolog.ui.launch.ListenerView">
         </view>
         <view
               relative="org.eclipse.ui.console.ConsoleView"
               visible="true"
               relationship="stack"
               id="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="Debugging Prolog"
            description="Debugging Prolog Programs"
            parentId="org.eclipse.debug.ui.debugging"
            id="com.amzi.prolog.debug.debugContext">
      </context>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            debugModelId="com.amzi.prolog.debug"
            contextId="com.amzi.prolog.debug.debugContext">
      </modelContextBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.contextViewBindings">
      <contextViewBinding
            viewId="com.amzi.prolog.debug.ui.DebugListenerView"
            contextId="com.amzi.prolog.debug.debugContext"
            autoOpen="true">
      </contextViewBinding>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
